*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

blockquote,
button,
figure
h1,
h2,
h3,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

a:focus,
button:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid currentColor;
  padding: 2px;
}