:root {
  --accent-color: #FFAB6B;
  --accent-font: 'STIX Two Text';
  --bg-color: #F3EFEC;
  --main-font: Raleway;
  --text-color: #312A4E;
  --text-underline-hover-color: #928C9D;
  --marker: url('../images/marker-light.svg');
}

.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --text-underline-hover-color: #B3B3B3;
  --accent-color: transparent;
  --marker: url('../images/marker-dark.svg');
}

.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header {
  padding-top: 10vw;
}

.content-section {
  padding-left: 5vw;
  padding-right: 5vw;
}

.header-title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.heading {
  font-family: var(--accent-font), serif;
  line-height: 90%;
  text-align: center;
}

.header__menu {
  box-sizing: border-box;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header__theme-toggler {
  align-items: center;
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__theme-button {
  color: inherit;
  background-color: inherit;
  text-align: right;
  font-family: inherit;
  font-size: inherit;
}

.header__theme-button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: var(--text-underline-hover-color);
}

.header__theme-button_type_dark {
  cursor: pointer;
}

.header__theme-button_type_light {
  cursor: pointer;
}

.header__theme-button_is-active {
  font-weight: 700;
  position: relative;
  pointer-events: none;
}

.header__theme-button_is-active::after {
  content: '';
  background-color: var(--accent-color);
  position: absolute;
  inset: 0.7em -0.2em 0.04em;
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  background: url(../images/pattern.svg) ;
}

.content__title {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 2.5%;
}

.content__text-block {
  font-size: 18px;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type:first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-size: 30px;
  margin-right: 5px;
  margin-left: -4px;
  padding-left: 4px;
  padding-right: 4px;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type:first-letter {
  display: inline-block;
  border: 1px solid currentColor;
  background-color: var(--accent-color);
  font-size: 30px;
  margin-right: 5px;
  margin-left: -4px;
  padding-left: 4px;
  padding-right: 4px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__figure {
  border-bottom: 1px currentColor solid;
  left: -5vw;
  margin: 7% 0;
  position: relative;
  text-align: center;
  width: calc(100% + 10vw);
}

.content__picture-caption {
  margin: 20px 0;
  width: 100%;
}

.content__picture {
  width: 100%;
}

.content__blockquote {
  font-style: italic;
  width: 75%;
  line-height: 200%;
  margin: 29px auto 1.5em;
}

.content__link {
  color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__link:hover {
  text-decoration-color: var(--text-underline-hover-color);
}

.content__card {
  border: 1px solid currentColor; 
  margin-top: 7%;
  text-align: center;
  aspect-ratio: 4 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__card-title {
  font-size: 60px;
  line-height: 90%;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.colored-text::after {
  content: '';
  background-color: var(--accent-color);
  position: absolute;
  inset: 0.54em -0.07em;
  height: 0.25em;
  z-index: -1;
}

.theme_dark .colored-text::after {
  content: '';
  background: url(../images/pattern.svg);
  position: absolute;
  inset: 0.54em -0.07em;
  height: 0.25em;
  z-index: -1;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  content: '';
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  position: absolute;
  inset-inline-start: -25px;
  inset-block-start: calc(100% / 2 - 7.5px);
  background: var(--marker) no-repeat center / cover;
}

.footer {
  box-sizing: border-box;
  border-top: 1px solid currentColor;
  margin-top: 10%;
  padding: 2.5%;
  text-align: center;
}