:root {
  --accent-color: #FFAB6B;
  --accent-font: 'STIX Two Text';
  --bg-color: #F3EFEC;
  --main-font: Raleway;
  --text-color: #312A4E;
}

.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header {
  padding-top: 10vw;
}

.heading {
  font-family: var(--accent-font), serif;
  line-height: 90%;
  text-align: center;
}

.content-section {
  padding: 0 5vw;
}

.header-title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: 30px;
  margin-top: 7vw;
  margin-bottom: 2.5vw;
}

.content__text-block {
  font-size: inherit;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type:first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 30%;
  margin-right: 1px;
  padding: 0 4px;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__figure {
  border-bottom: 1px currentColor solid;
  left: -5vw;
  margin: 7vw 0;
  position: relative;
  text-align: center;
  width: calc(100% + 10vw);
}

.content__picture-caption {
  margin: 20px 0;
  width: 100%;
}

.content__picture {
  width: 100%;
}

.content__blockquote {
  font-style: italic;
  width: 75%;
  line-height: 200%;
  margin: 0 auto 1.5em;
}

.content__link {
  color: currentColor;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.content__card {
  border: 1px solid currentColor; 
  margin-top: 7vw;
  text-align: center;
  aspect-ratio: 4 /3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__card-title {
  font-size: 60px;
  line-height: 90%;
}

.colored-text {
  display: inline-block;
  position: relative;
}

.colored-text::after {
  content: '';
  background-color: var(--accent-color);
  position: absolute;
  inset: 0.58em -0.04em 0.04em;
  height: 0.25em;
  z-index: -1;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  list-style-type: none;
  padding-inline-start: 40px;
}

.content__list-item {
  position: relative;
}

.content__list-item::before {
  background-image: url('../images/marker-light.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 15px;
  margin-right: 10.51px;
  position: absolute;
  inset: 20% 15px 3px -21px;
  width: 15px;
}